body{
    background-color: pink;
    margin: 0%;
    padding: 0%;
}


.navbar {
    background-color: red;
    overflow: hidden;
    text-align: center;
  }
  
  .navbar a {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    transition: background-color 0.3s;
  }
  
  .navbar a:hover {
    background-color: #3a0909;
    color: rgb(231, 235, 18);
  }
