body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

header {
    background-color: #6c757d;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 2em;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

section h1 {
    color: #343a40;
    border-bottom: 2px solid #6c757d;
    padding-bottom: 10px;
}

section p,
section ul,
section ol {
    line-height: 1.6;
    color: #495057;
}

section ul {
    list-style-type: square;
    padding-left: 20px;
}

section ol {
    padding-left: 20px;
}

section ul li,
section ol li {
    margin-bottom: 10px;
}

@media (max-width: 600px) {
    body {
        padding: 10px;
    }

    section {
        margin: 10px;
    }
}

.flex-container {
    display: flex; 
}

.text-content {
    flex: 1; 
}

.img1, .img2 {
    margin-right: 20px; 
    width: 50%; 
    height: auto; 
    border-radius: 50px; 
}